<%= form_with(model: cursoporcarrera, local: true) do |form| %>
  <% if cursoporcarrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cursoporcarrera.errors.count, "error") %> prohibited this cursoporcarrera from being saved:</h2>

      <ul>
      <% cursoporcarrera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :facultad_id %>
    <%= form.number_field :facultad_id, id: :cursoporcarrera_facultad_id %>
  </div>

  <div class="field">
    <%= form.label :carrera_id %>
    <%= form.number_field :carrera_id, id: :cursoporcarrera_carrera_id %>
  </div>

  <div class="field">
    <%= form.label :curso_id %>
    <%= form.number_field :curso_id, id: :cursoporcarrera_curso_id %>
  </div>

  <div class="field">
    <%= form.label :semestre %>
    <%= form.text_field :semestre, id: :cursoporcarrera_semestre %>
  </div>

  <div class="field">
    <%= form.label :cantidadalumno %>
    <%= form.number_field :cantidadalumno, id: :cursoporcarrera_cantidadalumno %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
