<%= form_with(model: aula, local: true) do |form| %>
  <% if aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

      <ul>
      <% aula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :aula_nombre %>
  </div>

  <div class="field">
    <%= form.label :bloque %>
    <%= form.text_field :bloque, id: :aula_bloque %>
  </div>

  <div class="field">
    <%= form.label :capacidad %>
    <%= form.number_field :capacidad, id: :aula_capacidad %>
  </div>

  <div class="field">
    <%= form.label :equipamiento %>
    <%= form.text_field :equipamiento, id: :aula_equipamiento %>
  </div>

  <div class="field">
    <%= form.label :ocupado %>
    <%= form.check_box :ocupado, id: :aula_ocupado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
