<%= form_with(model: asignaraula, local: true) do |form| %>
  

  <div class="field">
    <%= form.label :aula_id %>
    <%= form.number_field :aula_id, id: :asignaraula_aula_id %>
  </div>

  <div class="field">
    <%= form.label :cursoporcarrera_id %>
    <%= form.number_field :cursoporcarrera_id, id: :asignaraula_cursoporcarrera_id %>
  </div>

  <div class="field">
    <%= form.label :diadelasemana_id %>
    <%= form.number_field :diadelasemana_id, id: :asignaraula_diadelasemana_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
