<p id="notice"><%= notice %></p>

<h1>Asignaraulas</h1>

<table>
  <thead>
    <tr>
      <th>Aula</th>
      <th>Cursoporcarrera</th>
      <th>Dia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignaraulas.each do |asignaraula| %>
      <tr>
        <td><%= asignaraula.aula_id %></td>
        <td><%= asignaraula.cursoporcarrera_id %></td>
        <td><%= asignaraula.diadelasemana_id %></td>
        <td><%= link_to 'Show', asignaraula %></td>
        <td><%= link_to 'Edit', edit_asignaraula_path(asignaraula) %></td>
        <td><%= link_to 'Destroy', asignaraula, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignaraula', new_asignaraula_path %>
